@{
	Random random = new Random();
	const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
	string secret = new string(Enumerable.Repeat(chars, 16).Select(s => s[random.Next(s.Length)]).ToArray());
	Setsuna.Cache.secret = secret;
}
<h1>Generate Secret</h1>
<b>Secret with value @secret generated. Automatically redirecting to step 2...</b>
<br>
<br>
<div align="center">
If you are not automatically redirected within 3 seconds, click here:
<br>
<form action="./GenerateTOTP">
    <input type="submit" class="setsunaButton" value="Generate OTP Response" />
</form>
</div>
<meta http-equiv="refresh" content="3;url=./GenerateTOTP" />