<h1>Step 1: Generate a secret</h1>
<h1>Step 2: Generate OTP response</h1>

<div align="center">
<form action="./Session/GenerateSecret">
    <input type="submit" class="setsunaButton" value="Start" />
</form>
</div>